{% extends "base.html.twig" %}

{% block body %}

	<div class="container">

		<a href="{{ path('home') }}" class="btn-secondary">
			Retour à l'accueil
		</a>

		<div class="form-card">

			<h1 class="form-title">Créer une annonce</h1>

			{{ form_start(form) }}

			<div class="form-group">
				{{ form_label(form.title) }}
				{{ form_widget(form.title) }}
			</div>

			<div class="form-group">
				{{ form_label(form.description) }}
				{{ form_widget(form.description) }}
			</div>

			<div class="form-group">
				{{ form_label(form.imageFile) }}
				{{ form_widget(form.imageFile) }}
			</div>

			<div class="form-group">
				{{ form_label(form.category) }}
				{{ form_widget(form.category) }}
			</div>

			<button class="btn-create">
				Publier
			</button>

			{{ form_end(form) }}

		</div>

	</div>

{% endblock %}
