{% extends 'base.html.twig' %}

{% block title %}Annonce
{% endblock %}

{% block body %}

	<div class="container">

		<div class="announcement-detail-card">

			<h1>{{ announcement.title }}</h1>

			<p class="category">
				{{ announcement.category ? announcement.category.name : 'Non définie' }}
			</p>

			<p class="date">
				Vendu par
				{{ author.firstname }}
				{{author.lastname}}
			</p>
			<p class="date">
				Publié le
				{{ announcement.date ? announcement.date|date('d/m/Y H:i') : 'Non définie' }}
			</p>

			<p class="description">
				{{ announcement.description }}
			</p>

			{% if announcement.imageName %}
				<div class="detail-image">
					<img src="{{ asset('images/announcements/' ~ announcement.imageName) }}">
				</div>
			{% endif %}

			{% if isAuthor != true %}
				<form action="{{ path('announcement.interest', {id: announcement.id}) }}" method="POST">
					<button type="submit" class="btn-profile">
						{% if app.user in announcement.interestedUserId %}
							Je ne suis plus intéressé
						{% else %}
							Je suis intéressé
						{% endif %}
					</button>
					<a href="mailto:{{ author.email }}" class="btn-profile">
						Contacter le vendeur par mail
					</a>

				</form>
			{% endif %}

			{% if isAuthor == true %}
				<div class="actions">
					<a href="{{ path('announcement.edit', {id: announcement.id}) }}" class="btn-profile">
						Éditer
					</a>

					<form method="POST" action="{{ path('announcement.delete', {id: announcement.id}) }}" onsubmit="return confirm('Tu es sûr ?');">

						<button type="submit" class="btn-danger">
							Supprimer
						</button>

					</form>
				</div>
			{% endif %}

		</div>

	</div>

{% endblock %}
