{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<a href="announcement/create">Créer une annonce</a>

{% for announcement in announcements %}
	<div class="announcement-card">

		<h2>{{ announcement.title }}</h2>

		<p>
			<strong>Catégorie :</strong>
			{{ announcement.categoryId ? announcement.categoryId.name : 'Non définie' }}</p>

		<p>
			<strong>Date :</strong>
			{{ announcement.date ? announcement.date|date('d/m/Y H:i') : 'Non définie' }}</p>

		<p>{{ announcement.description }}</p>

		<a href="{{ path('announcement.edit', {id: announcement.id}) }}">Éditer</a>

		{% if announcement.imageName %}
			<div>
				<img src="{{ asset('images/announcements/' ~ announcement.imageName) }}" alt="Image de {{ announcement.title }}" </div> {% endif %} </div> {% endfor %} {% endblock %}
