{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}

	<div class="login-container">

		<div class="login-card">

			<h1 class="login-title">Connexion</h1>

			{% if error %}
				<div class="login-error">
					{{ error.messageKey|trans(error.messageData, 'security') }}
				</div>
			{% endif %}

			{% if app.user %}
				<div class="login-error">
					Connecté en tant que
					{{ app.user.userIdentifier }}
					<a href="{{ logout_path() }}">Logout</a>
				</div>
			{% endif %}

			<form method="post" class="login-form">

				<label for="username">Email</label>
				<input type="email" value="{{ last_username }}" name="_username" id="username" autocomplete="email" required autofocus>

				<label for="password">Password</label>
				<input type="password" name="_password" id="password" autocomplete="current-password" required>

				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

				<label class="login-remember">
					<input type="checkbox" name="_remember_me" checked>
					Keep me logged in
				</label>

				<button class="btn-create" type="submit">
					Sign in
				</button>

			</form>

			<div class="login-links">
				<a href="{{ path('app_register') }}">Créer un compte</a>
				<a href="{{ path('forgotten_password') }}">Mot de passe oublié ?</a>
			</div>

		</div>

	</div>

{% endblock %}
