{% extends 'base.html.twig' %}

{% block title %}Profil
{% endblock %}

{% block style %}<link rel="stylesheet" href="{{ asset('assets/css/profile.css') }}">
{% endblock %}


{% block body %}
	<div class="profile-container">

		<div class="profile-card">
			<h1>{{ user.firstname }}
				{{ user.lastname }}</h1>

			<p class="profile-email">{{ user.email }}</p>
			<p class="profile-date">
				Inscrit depuis le
				{{ user.inscriptionDate|date('d/m/Y') }}
			</p>

			<div class="profile-actions">
				<a href="{{ path('forgotten_password') }}" class="btn-secondary">
					Réinitialiser le mot de passe
				</a>
				<a href="{{ path('user.edit') }}" class="btn-secondary">
					Modifier le profil
				</a>

				<a href="{{ path('app_logout') }}" class="btn-danger">
					Se déconnecter
				</a>


			</div>
		</div>

		<h2 class="section-title">Vos annonces</h2>

		<div class="announcements-grid">
			{% for announcement in announcements %}
				<a href="{{ path('announcement.show', {id:announcement.id}) }}" class="announcement-card">
					<h2>{{ announcement.title }}</h2>

					<p class="category">
						{{ announcement.category ? announcement.category.name : 'Non définie' }}
					</p>

					<p class="date">
						{{ announcement.date ? announcement.date|date('d/m/Y H:i') : 'Non définie' }}
					</p>

					<p class="description">{{ announcement.description }}</p>

					{% if announcement.imageName %}
						<div class="card-image">
							<img src="{{ asset('images/announcements/' ~ announcement.imageName) }}">
						</div>
					{% endif %}
				</a>
			{% endfor %}
		</div>

		<h2 class="section-title">Les annonces qui vous intéressent</h2>

		<div class="announcements-grid">
			{% for announcement in interestedAnnouncements %}
				<a href="{{ path('announcement.show', {id:announcement.id}) }}" class="announcement-card">
					<h2>{{ announcement.title }}</h2>

					<p class="category">
						{{ announcement.category ? announcement.category.name : 'Non définie' }}
					</p>

					<p class="date">
						{{ announcement.date ? announcement.date|date('d/m/Y H:i') : 'Non définie' }}
					</p>

					<p class="description">{{ announcement.description }}</p>

					{% if announcement.imageName %}
						<div class="card-image">
							<img src="{{ asset('images/announcements/' ~ announcement.imageName) }}">
						</div>
					{% endif %}
				</a>
			{% endfor %}
		</div>

	</div>
{% endblock %}
